
body {
  width: 1024px; 
  margin: 0 auto; 
  font-family: "Helvetica", sans-serif;
}

header {
  height: 80px; 
  text-align: center; 
  line-height: 80px;
  background-color: coral;
}

main {
  padding: 0 8px 8px 8px;
  background-color: lightskyblue;
}

figure {
  padding: 16px 0 0 0;
  text-align: center; 
}

footer {
  height: 40px;
  padding: 0 8px; 
  text-align: right; 
  line-height: 40px;
  background-color: coral; 
}